@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;

  --color-brand-green-50: #f2fcf5;
  --color-brand-green-100: #e0f8e9;
  --color-brand-green-200: #c1f2d3;
  --color-brand-green-300: #8ee7b0;
  --color-brand-green-400: #58d888;
  --color-brand-green-500: #44D368;
  --color-brand-green-600: #33be55;
  --color-brand-green-700: #2a9645;
  --color-brand-green-800: #26763a;
  --color-brand-green-900: #216132;
  --color-brand-green-950: #0c3619;
  --color-brand-charcoal: #263B46;

  @keyframes fade-in-down {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes fade-in-up {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

@utility animate-fade-in-down {
  animation: fade-in-down 0.8s ease-out forwards;
}

@utility animate-fade-in-up {
  animation: fade-in-up 0.8s ease-out forwards;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    @apply bg-white text-gray-800 antialiased;
  }
}
